
  <title>Conex Contact - Editar Usuarios</title>

<div id="page-top">

<!-- Modal VISÃO GERAL -->
  <div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Atribuir listas</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/admin/atribuirLista" method="POST">
                <label for="listasDisponiveis">Listas disponíveis</label>
              <div class="form-row">
                  <div class="col">
                    <select class="custom-select" name="listasDisponiveis" id="listasDisponiveis">
                        {{#each categoria}}
                        <option value="{{_id}}">{{nome}}</option>
                        {{else}}
                        <option value="0">Nenhuma lista registrada</option>
                        {{/each}}
                    </select>
                    <input name="idUsuario" id="idUsuario" type="hidden">
                  </div>
                  <div class="col">
                        <button type="submit" class="btn btn-primary mb-2">Adicionar</button>
                  </div>
            </form>            
              </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  {{>_menuPainel}}  

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Editar usuarios</li>
        </ol>

        <!-- Page Content -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-user-edit"></i>
            Lista de usuarios</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Email</th>
                    <th>Data</th>
                    <th>Editar</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Email</th>
                    <th>Data</th>
                    <th>Editar</th>
                  </tr>
                </tfoot>
                <tbody>
                  {{#each usuario}}
                        <tr id="{{_id}}***">
                          <td>{{nome}}</td>
                          <td>{{sobrenome}}</td>
                          <td>{{email}}</td>
                          <td>{{data}}</td>
                          <td>
                            <button id="{{_id}}" onclick="transferirInfoUsuario(this.id)" class="btn btn-primary" data-toggle="modal" data-target="#modalEditar">
                              <i class="fas fa-fw fa-user-edit"></i>
                            </button>
                          </td>
                          <input name="id" type="hidden" value="{{_id}}">
                        </tr>
                    </form>
                  {{else}}

                  {{/each}}
                 
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

        <p class="small text-center text-muted my-5">
          <em>...</em>
        </p>

      </div>

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
            {{>_footer}}

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

</div>

<script src="/js/lista.js"></script>
